body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ======================================== */
/* GLOBAL STYLES */
/* ======================================== */
html,
body,
#root,
.App,
.dashboard {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* ======================================== */
/* HEADER STYLES */
/* ======================================== */
header {
  max-width: 100%;
  min-height: 50px;
  padding: 5px;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  border: 0.5px solid #d7d7d7;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #ffffff;
}

header img {
  max-width: 80%;
}

header li {
  font-size: 12px;
}

/* ======================================== */
/* LANDING STYLES */
/* ======================================== */
.landing {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('./images/pexels-photo-911738.jpeg');
  background-size: 'cover';
  background-position: center;
}

.landing img {
  max-width: 80%;
  opacity: 0.7;
}

.loginReg {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginReg ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
  padding: 10px 0;
}

.loginReg li {
  border: 0.5px solid #d7d7d7;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #ffffff;
}

.landingForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.landingForm input {
  border-radius: 5px;
  margin: 5px;
}

footer {
  height: 20%;
}

/* ======================================== */
/* TILEBOARD STYLES */
/* ======================================== */
.tileboard {
  display: flex;
  justify-content: center;
  width: 100%;
}

.board {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  min-height: 300px;
  max-height: 400px;
  width: 90%;
  /* background-color: #f0eeee; */
  display: flex;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px grey;
  background-color: rgb(215, 235, 252);
  flex-direction: column;
}

/* ======================================== */
/* NEWS STYLES */
/* ======================================== */

.newsList {
  padding: 0;
  list-style-type: none;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 5px;
}

.newsList li {
  padding: 5px;
  margin: 0 3px 5px 2px;
  border-radius: 5px;
  background-color: #d7d7d7;
}
